#frameArea {
    background-image: url("../img/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.name_app {
    color: white;
    font-size: 45px;
    padding-top: 200px;
    text-align: center;
}